* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #303030;
    font-size: 16px;
}
.container {
    height: 100%;
    width: 100%;
    max-width: 1140px;
    padding: 0 150px;
    margin: 0 auto;
}
header {
    background: #2965f1;
    padding: 23px 0;
}
[data-cy="hw3-section-main-pre"] {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
[data-cy="hw2-header-span"] {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
[data-cy="hw2-section-main-pre"] {
    background: #fafaff;
    height: 1024px;
}
[data-cy="hw2-main-title"] {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}
[data-cy="hw2-text"] {
    font-size: 18px;
}
.wrapper {
    align-items: center;
    padding-top: 422px;
}
[data-cy="hw3-text-wrapper-pre"] {
    max-width: 425px;
}
img[data-cy="hw2-main-image"] {
    max-width: 715px;
    padding-top: 256px;
}
[data-cy="hw3-info-wrapper-pre"] {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
[data-cy="hw3-frameworks-list-pre"] {
    gap: 16px;
}
li {
    padding: 16px 0;
}
[data-cy="hw3-skills-block-pre"] {
    display: flex;
    flex-direction: column-reverse;
    max-width: 475px;
    gap: 20px;

}
.hw2-section-title-pre {
    max-width: 570px;
}
[data-cy="hw2-section-about-pre"] {
    fill: #fff;
    padding: 100px 0;
}
[data-cy="hw2-select-pre"] {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    padding: 8px 15px 9px;
    appearance: none;
    background: url(assest/image/ep_arrow-down.svg) no-repeat top 50% right 10px;
}
select:hover {
    border: 1px solid #2965f1;
}
[data-cy="hw2-section-title-pre"] {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}
[data-cy="hw3-section-about-pre"] {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
label {
    padding-bottom: 20px;
}
.btn-pre-wrapper {
    padding-bottom: 40px;
}
[data-cy="hw2-skills-list-pre"] {
    list-style-image: url(assest/image/Vector.svg);
    padding: 0 20px;
}
[data-cy="hw2-books-list-pre"] {
    padding: 0 20px;
}
[data-cy="hw3-skills-pre"] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
[data-cy="hw2-label-pre"] {
    font-weight: 400;
    font-size: 16px;
}
[data-cy="hw2-text-field-pre"] {
    width: 330px;
    height: 36px;
    color: rgba(48, 48, 48, 0.2);
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 40px;
}
[data-cy="hw2-text-field-pre"]:hover {
    border: 1px solid #2965f1;
}
[data-cy="hw2-btn-pre"] {
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
}
[data-cy="hw2-btn-pre"]:hover {
    cursor: pointer;
    background: rgba(41, 101, 241, 0.9);
}
[data-cy="hw2-line-pre"] {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1140px;
    height: 0px;
    margin: 60px 0;
}
table, th, td, tr [data-cy="hw2-about-table-pre"] {
    border: 1px solid #95a1bb;
    border-collapse: collapse;
    padding: 12px 15px;
    font-size: 14px;
    margin: 0 auto;
}
th {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
td {
    font-size: 14px;
}
[data-cy="hw2-footer-pre"] {
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
    
}
[data-cy="hw-footer-link-pre"] {
    text-decoration:none;
    font-size: 14px;
    color: #2965f1;
}
[data-cy="hw-footer-pre"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
[data-cy="hw-footer-link-pre"]:hover {
    text-decoration: underline;
}